In [1]:
help('print')

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [2]:
help('max')

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more positional arguments, return the largest argument.

### create  function  to add  two  numbers

In [19]:
def  add(x ,  y):
    """
    add  two numbers
    """
    z  =  x+ y  
    return  z

In [4]:
add(245 , 777)

1022

In [5]:
# take  x  =  -666  ,y=  -7777
add(-666 , -7777)

-8443

In [6]:
add('data' ,  'science')

'datascience'

In [8]:
add([12 ,34] , [56 ,8,89])

[12, 34, 56, 8, 89]

In [20]:
add(12, '12')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

#### create function to add  only  numbers

In [14]:
def  add1(x : int|float,  y:int|float):
    """
    add  two numbers
    """
    if  isinstance(x ,  (int ,  float))  and  \
        isinstance(y  , (int  , float)):
        z  =  x+y
        return  z
    else:
        print('data  should  be  numeric')

In [15]:
a  =  add1(x  = 'python' ,  y ='34')

data  should  be  numeric

In [16]:
b  =  add1(x  = 23  ,  y  =  23)

In [17]:
b

46

In [18]:
c  =  add1([12,34,34] ,  [34 ,45])

data  should  be  numeric

### use assert  to raise  error

In [22]:
def  add2(x : int|float,  y:int|float):
    """
    add  two numbers
    """
    assert isinstance( x,  (int , float)) ,  "x should  be  numeric"
    assert isinstance( y,  (int , float)) ,  "y should  be  numeric"
    z  =  x+y
    return  z

In [23]:
add2(2 ,3)

5

In [24]:
add2('12' , 21)

AssertionError: x should  be  numeric

In [25]:
add2(23, '34')

AssertionError: y should  be  numeric

In [26]:
add2(12 ,23,435)

TypeError: add2() takes 2 positional arguments but 3 were given

### variadic  function
-- variang arguments length
- variable  length arguments -  *
-  key word variable  length arguments - **

In [32]:
def  args_len(*args):
    print(args)
    print(type(args))

In [33]:
args_len(12 ,34,56,56)

(12, 34, 56, 56)
<class 'tuple'>

In [36]:
def  add4(*args):
    add  =  0
    for  i  in args:
        add  =  add+i
    return  add

In [37]:
add4(12 ,3,4,6)

25

In [38]:
add4(12 , 'swara' ,  'python' , 34)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [39]:
def  add4(*args):
    add  =  0
    for  i  in args:
        if  isinstance(i ,  (int  , float)):
            add  =  add+i
    return  add

In [40]:
add4(12 ,'34' , '45' ,456)

468

##### list  unpacking

In [41]:
l  =  [12 ,34,4,7]

In [43]:
def  add4(*args):
    add  =  0
    for  i  in args:
        add  =  add+i
    return  add

In [44]:
add4(l)

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [46]:

print(l)
add4(*l)

[12, 34, 4, 7]

57

In [ ]:
('product' , 'quantity' ,  'price')

In [ ]:
def  total_bill(*args):
    total  =  0
    bill_before_tax  =  0
    for  product  ,  quantity  , price   in  args:
        subtotal  =  price*quantity
        print(f'sub total of  {product}  -- > {subtotal}')

        bill_before_tax  =  subtotal+ bill_before_tax
        tax  =  0.18
        taxable_amount  =  bill_before_tax*0.18

        total   =  taxable_amount +bill_before_tax
    print(f'bill_before_tax -- >{bill_before_tax}')
    print(f'taxable  amount  -- >  { taxable_amount}' )
    print(f'total_amount -->  {total}')

In [51]:
total_bill(('mobile' ,  2 ,  30000))

sub total of  mobile  -- > 60000
bill_before_tax -- >60000
taxable  amount  -- >  10800.0
total_amount -->  70800.0

In [52]:
total_bill(('mobile' , 3  ,  20000) ,  ('fan' ,  2 , 2000))

sub total of  mobile  -- > 60000
sub total of  fan  -- > 4000
bill_before_tax -- >64000
taxable  amount  -- >  11520.0
total_amount -->  75520.0

In [54]:
64000*0.18 + 64000

75520.0

In [56]:
60000 - 60000*20/100

48000.0

In [57]:
def  total_bill_with_discount(*args):
    total  =  0
    bill_before_tax  =  0
    for  product  ,  quantity  , price  , discount  in  args:
        subtotal  =  price*quantity  - price*quantity*discount/100
        print(f'sub total of  {product}  -- > {subtotal}')

        bill_before_tax  =  subtotal+ bill_before_tax
        tax  =  0.18
        taxable_amount  =  bill_before_tax*0.18

        total   =  taxable_amount +bill_before_tax
    print(f'bill_before_tax -- >{bill_before_tax}')
    print(f'taxable  amount  -- >  { taxable_amount}' )
    print(f'total_amount -->  {total}')

In [58]:
total_bill_with_discount(('mobile' ,  1 , 30000 ,  10))

sub total of  mobile  -- > 27000.0
bill_before_tax -- >27000.0
taxable  amount  -- >  4860.0
total_amount -->  31860.0

In [59]:
total_bill_with_discount(('mobile' ,  1 , 30000 ,  10),  ('earphones' ,  2  ,  1500 , 20))

sub total of  mobile  -- > 27000.0
sub total of  earphones  -- > 2400.0
bill_before_tax -- >29400.0
taxable  amount  -- >  5292.0
total_amount -->  34692.0

In [60]:
total_bill_with_discount(('mobile' ,  1 , 30000 ,  10), 
 ('earphones' ,  2  ,  1500 , 20) , 
 ('laptop' ,  2  , 25000 ,  10))

sub total of  mobile  -- > 27000.0
sub total of  earphones  -- > 2400.0
sub total of  laptop  -- > 45000.0
bill_before_tax -- >74400.0
taxable  amount  -- >  13392.0
total_amount -->  87792.0

In [61]:
print(1)

1