In [1]:
menu  =  {'Pizza' :  299 ,  "Burgur" :  100  , "Sandwich" :  60}

In [2]:
menu['Pizza']

299

In [3]:
menu['samosa']

KeyError: 'samosa'

In [4]:
menu.get('Pizza')

299

In [6]:
print(menu.get('samosa'))

None

In [7]:
def  hotel_bill(**kwargs):
  total  = 0
  for  food  ,  quantity  in  kwargs.items():
    if  menu.get(food) is  not  None:
      price  =  menu[food]*quantity
      print(f' total  of {food} is {price} ')
      total  = total+price
  return f"Total  price is {total}"

In [8]:
hotel_bill(Pizza =   2  )

 total  of Pizza is 598

'Total  price is 598'

In [9]:
hotel_bill(Pizza  =  2 ,  Burgur  =  1  )

 total  of Pizza is 598
 total  of Burgur is 100

'Total  price is 698'

In [10]:
hotel_bill(Pizza  =  2 ,  Burgur  =  1   ,  samosa  =  3)

 total  of Pizza is 598
 total  of Burgur is 100

'Total  price is 698'

In [11]:
hotel_bill(pizza  =  2  , samosa =  3)

'Total  price is 0'

In [12]:
def  hotel_bill(**kwargs):
  total  = 0
  for  food  ,  quantity  in  kwargs.items():
    if  menu.get(food.title()) is  not  None:
      price  =  menu[food.title()]*quantity
      print(f' total  of {food} is {price} ')
      total  = total+price
  return f"Total  price is {total}"

In [16]:
hotel_bill(pizZa = 2 , samosa = 4 ,  burgur = 3)

 total  of pizZa is 598
 total  of burgur is 300

'Total  price is 898'

### Decorators

In [24]:
#  create decorator  to welcome  the  user
def  Welcome(func):
  def wrapper(*args  , **kwargs):
    print('Welcome user')
    result  =  func(*args  , **kwargs)
    print(f'Result  of  function is {result}')
    print('Thank  you')

    return result
  return  wrapper

In [25]:
#  create  function  for  factorial  of  number & apply decorator
@Welcome
def  factorial(num):
  fact  =  1
  for i  in range(1 , num+1):
    fact=  fact*i
  return  fact

In [26]:
factorial(5)

Welcome user
Result  of  function is 120
Thank  you

120

In [27]:
@Welcome
def square(num):
  return num**2

In [28]:
square(44)

Welcome user
Result  of  function is 1936
Thank  you

1936

In [29]:
@Welcome
def  hotel_bill(**kwargs):
  menu  =  {'Pizza' :  299 ,  "Burgur" :  100  , "Sandwich" :  60}
  total  = 0
  for  food  ,  quantity  in  kwargs.items():
    if  menu.get(food.title()) is  not  None:
      price  =  menu[food.title()]*quantity
      print(f' total  of {food} is {price} ')
      total  = total+price
  return f"Total  price is {total}"

In [30]:
hotel_bill(pizza =  2  , samosa =  3)

Welcome user
 total  of pizza is 598
Result  of  function is Total  price is 598
Thank  you

'Total  price is 598'

In [32]:
square(num   = 3)

Welcome user
Result  of  function is 9
Thank  you

9