In [1]:
i =  23
print(type(i))

<class 'int'>

In [2]:
f  =  23.45
print(type(f))

<class 'float'>

In [3]:
s = 'data'
print(type(s))

<class 'str'>

In [4]:
l  =  [12 ,45,'Python']
print(type(l))

<class 'list'>

In [5]:
t  =  (23 ,345,'Data')
print(type(t))

<class 'tuple'>

In [6]:
s  =  {12 ,34,56}
print(type(s))

<class 'set'>

In [7]:
d  =  {'name'  :  ['sunita' ,  'neeta' ,  'suyash']  ,
 'age' : [12 ,13, 14]}

In [8]:
print(type(d))

<class 'dict'>

In [9]:
import pandas  as  pd

In [10]:
data  =  pd.DataFrame(d)

In [11]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

### Attributes
- index
- columns
- values
- shape
- size
-

In [12]:
data.shape

(3, 2)

In [13]:
data.size

6

In [14]:
data.columns

Index(['name', 'age'], dtype='object')

In [17]:
data.dtypes

name    object
age      int64
dtype: object

In [18]:
data.values

array([['sunita', 12],
       ['neeta', 13],
       ['suyash', 14]], dtype=object)

In [19]:
data.index

RangeIndex(start=0, stop=3, step=1)

In [20]:
# info() ,  isnull()

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   age     3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes

In [23]:
data.isnull()

    name    age
0  False  False
1  False  False
2  False  False

In [ ]:
## create  class  Persom with constructor  method

In [1]:
class  Person:
    def __init__(self , name ,  age  ,  gender  , occupation):
        self.Name =  name 
        self.Age  =  age
        self.Gender  = gender
        self.Occupation  =  occupation

In [3]:
p1  =  Person(name  = 'Sunita' ,  age  =  32 ,  gender  =  'female' , occupation = 'data analyst' )

In [5]:
p1.Name

'Sunita'

In [6]:
p1.Age

32

In [7]:
p1.Gender

'female'

In [8]:
p1.Occupation

'data analyst'

In [9]:
class  Person:
    def __init__(self , name ,  age  ,  gender  , occupation):
        self.name =  name 
        self.age  =  age
        self.gender  = gender
        self.occupation  =  occupation

In [10]:
p2  =  Person(name  = 'Suresh' , age  = 23 ,
 gender  =  'male' , occupation  =  'manager')

In [11]:
p2.name

'Suresh'

In [12]:
p2.age

23

In [13]:
p2.gender

'male'

In [14]:
p2.occupation

'manager'

In [15]:
p3  =  Person(name  = 'sakshi' ,age  =  23  ,  gender  =  'Female' ,  occupation = 'data Scientist')

In [16]:
print(p3.name ,  p3.age  , p3.gender ,  p3.occupation)

sakshi 23 Female data Scientist

In [17]:
## add  attribute  address in  p3
p3.adress =  'Pune'

In [18]:
p3.adress

'Pune'

In [19]:
p3.occupation

'data Scientist'

In [20]:
p3.occupation  =  'ML Engineer'

In [22]:
p3.occupation

'ML Engineer'

In [26]:
p3.__delattr__('adress')

In [27]:
p3.adress

AttributeError: 'Person' object has no attribute 'adress'

In [28]:
# create class  employee
class employee :
    company  = 'TCS'
    def __init__(self  ,  emp_id  , emp_name):
        self.emp_id  =  emp_id
        self.emp_name  =  emp_name

In [29]:
e1  =  employee(emp_id  = 1  ,  emp_name  = 'abc')

In [30]:
e1.company

'TCS'

In [31]:
e1.emp_id

1

In [32]:
e1.emp_name

'abc'

In [33]:
e2  =  employee(emp_id  = 2 , emp_name  = 'pqr')

In [34]:
e2.company

'TCS'

In [35]:
e2.company  = 'Tata'

In [36]:
e2.company

'Tata'

In [40]:
e2

#### create class person with attributes and method

In [37]:
class  Person:
    def __init__(self , name ,  age  ,  gender  , occupation):
        self.name =  name 
        self.age  =  age
        self.gender  = gender
        self.occupation  =  occupation
    def info(self):
        print(f'I Am {self.name}')
        print(f'I am {self.age} years old')
        print(f'i am {self.gender}')
        print(f'I work as  {self.occupation}')

In [38]:
p5  = Person(name  = 'Nayara'   , 
age =  29  ,  
gender  =  'female' , occupation  = 'MLops  Engineer' )

In [39]:
p5.info()

I Am Nayara
I am 29 years old
i am female
I work as  MLops  Engineer

### create  class student with  dataclass decorator
name  : str
roll_no  :  int
marks  :  float
gender  :  Literal('male' ,  'female' )
Hobbies  :  List[str]

In [42]:
from dataclasses  import dataclass
from  typing  import Literal  , List

In [60]:
@dataclass
class Student:
    name  : str
    roll_no  :  int
    marks  :  float
    gender  :  Literal['male' ,  'female']
    Hobbies  :  List[str]
## add  studnet info method
    def  student_info(self):
        print(f'I am  {self.name}')
        print(f'My roll_no  is  {self.roll_no}')
        print(f'I am  {self.gender}')
        print(f'marks i got {self.marks}')
        print(f'My hobbies are {self.Hobbies}')

In [61]:
s1  =  Student(name  = 'shrishail'  , roll_no  =  12 , 
 marks  =  87.87  , gender =  'male' , Hobbies  = 'Swimming' )

In [62]:
s1.name

'shrishail'

In [63]:
s1.marks

87.87

In [64]:
s1.Hobbies

'Swimming'

In [65]:
s1.gender

'male'

In [66]:
s1.student_info()

I am  shrishail
My roll_no  is  12
I am  male
marks i got 87.87
My hobbies are Swimming

In [69]:
s2  =  Student(name  ='Akash' , roll_no  =3  ,  marks  = 34.34 , 
Hobbies  = ['Swimming'  , 'Dancing'] , gender  = 'male'   )

In [70]:
s2.student_info()

I am  Akash
My roll_no  is  3
I am  male
marks i got 34.34
My hobbies are ['Swimming', 'Dancing']

### Create  class  Acount with  
check balance  , deposite  , withdraw  , transfer  methods
number  , name  , balance  --attr

In [ ]:
@dataclass
class Acount:
    acc_no  :  int 
    acc_name  : str
    balance  :  float
## create  method check balance

    def check_balance(self):
        return f'Current  balance  of  acount {self.acc_no} is {self.balance}'


## add  money to acount  deposite  `
    def Deposite(self  , amt : float):
        self.balance  +=amt
        print(f'Amount  of {amt} is deposited in  {self.acc_no}')
        return self.check_balance()

## withdraw  amount

    def Withdraw(self  , amt):
        if self.balance>=amt:
            self.balance -= amt
            print(f'Amount of  {amt} is  withdrawn from {self.acc_no}')
            return  self.check_balance()
        else:
            raise ValueError('Insufficient funds ')
    

    #3 transfer money 
    def  Transfer(self ,    amt  : float , acc =  'Acount' ):
        self.Withdraw(amt)
        acc.Deposite(amt)
        return  self.check_balance() , acc.check_balance()

In [158]:
A1  =  Acount(acc_no  =  123  ,acc_name  = 'sarthak sharma' , balance = 2000)

In [152]:
A1.acc_no
A1.acc_name
A1.balance
A1.check_balance()

'Current  balance  of  acount 123 is 2000'

In [153]:
A1.Deposite(30000)

Amount  of 30000 is deposited in  123

'Current  balance  of  acount 123 is 32000'

In [154]:
A1.Withdraw(20000)

Amount of  20000 is  withdrawn from 123

'Current  balance  of  acount 123 is 12000'

In [155]:
A1.Withdraw(13000)

ValueError: Insufficient funds

In [159]:
A2  =  Acount(acc_no  =  234 , acc_name ='xyz'  , balance  =  2000)

In [160]:
A1.Transfer(amt  =  2000  ,  acc =  A2)

Amount of  2000 is  withdrawn from 123
Amount  of 2000 is deposited in  234

('Current  balance  of  acount 123 is 0',
 'Current  balance  of  acount 234 is 4000')