In [1]:
4/0

ZeroDivisionError: division by zero

In [2]:
s  =  'swara'
int(s)

ValueError: invalid literal for int() with base 10: 'swara'

In [3]:
'123'/12

TypeError: unsupported operand type(s) for /: 'str' and 'int'

#### Create  function  for  number division

In [6]:
def  div():
    num =  float(input('Enter number here'))
    den =  float(input('enter number here'))
    div  =  num/den
    print(f'division of {num} and  {den} -- >  {num}/{den}')

    return div

In [7]:
# take  num  =  120 , den =  10
div()

division of 120.0 and  10.0 -- >  120.0/10.0

12.0

In [8]:
#  num =  100  den  = ''
div()

ValueError: could not convert string to float: ''

In [9]:
# take num  = '123' ,  den   =  10
div()

ValueError: could not convert string to float: "'123'"

In [11]:
#  input num  = 123 ,  den  =  0
div()
print('Hello')

ZeroDivisionError: float division by zero

In [ ]:
div()
print('Hello')

division of 12.0 and  2.0 -- >  12.0/2.0
Hello

#### use  trye and  except  block  to handel  div
######  create  function

In [26]:
def  div1():
    try:
        num =  float(input('Enter number here'))
        den =  float(input('enter number here'))
        div  =  num/den
        print(f'division of {num} and  {den} -- >  {num}/{den}')
        return  div

    except Exception  as e:
        print(f'Exception occured at  {e}')

In [27]:
#  take  num =  200  , den  =  20
a =  div1()
a

division of 200.0 and  20.0 -- >  200.0/20.0

10.0

In [21]:
#  take  num  =  20  ,  den =  0
div1()
print('hello')

Exception occured at  float division by zero
hello

In [29]:
# take  num  =  230  ,  den =  '12'
div1()
for i  in range(1, 11):
    print(i)

Exception occured at  could not convert string to float: "'12'"
1
2
3
4
5
6
7
8
9
10

In [31]:
#  keep  den  blank
div1()
# number  is  even or odd
num  =  int(input())
if  num%2==0:
    print('even  number')
else:
    print('odd number')

Exception occured at  could not convert string to float: ''
odd number

### use customize message  for  division handeling

In [42]:
def div2():
    try:
        num =  float(input('Enter number here'))
        den =  float(input('enter number here'))
        div  =  num/den
        print(f'division of {num} and  {den} -- >  {num}/{den}')
        return  div
    except ZeroDivisionError:
        print('denominator  should  not  be 0')

    except ValueError :
        print('Input  should  not be  string or  blank')
    except Exception as  e:
        print('Exception  occured at  {e}')

In [43]:
#  take input num  =  12  , den  =  6
div2()

division of 12.0 and  6.0 -- >  12.0/6.0

2.0

In [44]:
# take  den  = 0
div2()

denominator  should  not  be 0

In [45]:
#  take  num = '123'
div2()

Input  should  not be  string or  blank

In [46]:
#  keep den  blank
div2()

Input  should  not be  string or  blank

In [32]:
path  =  r"C:\Users\admin\Desktop\Power Query Data\2020 Order Data.xlsx"

In [34]:
import  pandas as  pd

In [35]:
df  =  pd.read_excel(path)

In [36]:
df.head()

,Order ID,Customer ID,Cookies Shipped,Revenue,Cost,Order Date,Ship Date,Order Status
0,577597,152689 - YT Restaurants,329,1645,822.5,2020-11-23,NaT,Open
1,503658,985245 - Quick Bite Convenience Stores,350,1750,875.0,2020-11-23,NaT,Open
2,797851,785432 - Park & Eat LLC,981,4905,2452.5,2020-11-21,NaT,Open
3,552860,152689 - YT Restaurants,843,4215,2107.5,2020-11-21,NaT,Open
4,466725,985245 - Quick Bite Convenience Stores,154,770,385.0,2020-11-22,NaT,Open

In [37]:
path  =  r"C:\Users\admin\Desktop\Power Query \2020 Order Data.xlsx"

In [38]:
pd.read_excel(path)

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\admin\\Desktop\\Power Query \\2020 Order Data.xlsx'

In [39]:
def  file_read(path):
    import pandas as pd
    df =  pd.read_excel(path)
    return  df

In [48]:
file_read(path  =  r"C:\Users\admin\Desktop\Power Query Data\2020 Order Data.xlsx")

,Order ID,Customer ID,Cookies Shipped,Revenue,Cost,Order Date,Ship Date,Order Status
0,577597,152689 - YT Restaurants,329,1645,822.5,2020-11-23,NaT,Open
1,503658,985245 - Quick Bite Convenience Stores,350,1750,875.0,2020-11-23,NaT,Open
2,797851,785432 - Park & Eat LLC,981,4905,2452.5,2020-11-21,NaT,Open
3,552860,152689 - YT Restaurants,843,4215,2107.5,2020-11-21,NaT,Open
4,466725,985245 - Quick Bite Convenience Stores,154,770,385.0,2020-11-22,NaT,Open
...,...,...,...,...,...,...,...,...
711,822640,152689 - YT Restaurants,451,2255,1127.5,2020-01-02,2020-01-07,Shipped
712,XXXXXX,XXXXXX - Promo,947,4735,2367.5,2020-01-04,2020-01-06,Shipped
713,157876,325698 - Cascade Grovers,191,955,477.5,2020-01-04,2020-01-06,Shipped
714,569763,985245 - Quick Bite Convenience Stores,743,3715,1857.5,2020-01-01,2020-01-04,Shipped
715,138128,452584 - Acme Grocery Stores,717,3585,1792.5,2020-01-01,2020-01-03,Shipped

In [41]:
file_read(path  =  r"C:\Users\admin\Power Query Data\2020 Order Data.xlsx")

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\admin\\Power Query Data\\2020 Order Data.xlsx'

In [47]:
#  handel  file reading  exceptional cases
def  file_read(path):
    import pandas as pd
    try:
        df =  pd.read_excel(path)
        return  df
    except FileNotFoundError:
        print('Please check path or  file  ')

In [49]:
file_read(path  =  r"C:\Users\admin\Desktop\Power Query Data\2020 Order Data.xlsx")

,Order ID,Customer ID,Cookies Shipped,Revenue,Cost,Order Date,Ship Date,Order Status
0,577597,152689 - YT Restaurants,329,1645,822.5,2020-11-23,NaT,Open
1,503658,985245 - Quick Bite Convenience Stores,350,1750,875.0,2020-11-23,NaT,Open
2,797851,785432 - Park & Eat LLC,981,4905,2452.5,2020-11-21,NaT,Open
3,552860,152689 - YT Restaurants,843,4215,2107.5,2020-11-21,NaT,Open
4,466725,985245 - Quick Bite Convenience Stores,154,770,385.0,2020-11-22,NaT,Open
...,...,...,...,...,...,...,...,...
711,822640,152689 - YT Restaurants,451,2255,1127.5,2020-01-02,2020-01-07,Shipped
712,XXXXXX,XXXXXX - Promo,947,4735,2367.5,2020-01-04,2020-01-06,Shipped
713,157876,325698 - Cascade Grovers,191,955,477.5,2020-01-04,2020-01-06,Shipped
714,569763,985245 - Quick Bite Convenience Stores,743,3715,1857.5,2020-01-01,2020-01-04,Shipped
715,138128,452584 - Acme Grocery Stores,717,3585,1792.5,2020-01-01,2020-01-03,Shipped

In [50]:
path  =  r"C:\Users\Desktop\Power Query Data\2020 Order Data.xlsx"

In [51]:
file_read(path)

Please check path or  file

####  exceptional  hadeling  with  conditional  statements

In [55]:
valid_age =  int(input())
valid_age

150

In [ ]:
def  valid_age():
    age  =  int(input())
    if  age >=0 and  age <=  120:
        print('valid_age-->',age)
    else:
        print('Invalid  age ')

In [57]:
# take  age  =  20
valid_age()

valid_age--> 20

In [58]:
valid_age()

Invalid  age

In [60]:
def  valid_age():
    try:
        age  =  int(input())
        if  age >=0 and  age <=  120:
            print('valid_age-->',age)
        else:
            print('Invalid  age ')
    except Exception as e:
        print(e)

In [61]:
valid_age()

valid_age--> 120

In [62]:
valid_age()

Invalid  age

In [63]:
valid_age()

Invalid  age

In [64]:
valid_age()

invalid literal for int() with base 10: "'12'"

#####  four blocks
- try :  checking  conditions 
- except  :  when  try is  false
- else :  it will excutes  if  try is  true
-  finally :  it wil always  excuts

In [65]:
# create  function  to find square of  number
def square():
    num  = float(input())
    return  num*num

In [67]:
square()

4.0

In [70]:
def  square():
    try :
        num  =  float(input())
        s  =  num*num

    except Exception as  e:
        print(e)
    else :
        print(f'square of  {num}is  {num}*{num}')
        return  s
    finally:
        print('i will  always  executes')

In [71]:
#  num  =  3
square()

square of  3.0is  3.0*3.0
i will  always  executes

9.0

In [72]:
# take num =  '1'
square()

could not convert string to float: "'1'"
i will  always  executes