#### POLYMORPHISM  IN OPERATORS

In [1]:
a  =  12  
b  =  34
a+b

46

In [2]:
s1  =  'data'
s2  =  'science'
s1+s2

'datascience'

In [3]:
l1  =  [12 ,34]
l2  =  [45 ,67 , 'Python' , True]
l1+l2

[12, 34, 45, 67, 'Python', True]

In [4]:
l1  =  (12 ,34)
l2  =  (45 ,67 , 'Python' , True)
l1+l2

(12, 34, 45, 67, 'Python', True)

In [5]:
## '*'
12*12

144

In [7]:
'data'*5

'datadatadatadatadata'

In [9]:
l1*2

(12, 34, 12, 34)

In [11]:
[12 ,34]*4

[12, 34, 12, 34, 12, 34, 12, 34]

#### Polymorphism  function
- len ,  sum  , max  , min

In [12]:
s  =  'swara'
len(s)

5

In [13]:
l  =  [12 ,45,68]
len(l)

3

In [14]:
t  =  (45 ,57.5,78)
len(t)

3

In [16]:
s  =  {34 ,65,62,2,8,89}
len(s)

6

In [2]:
d =  {'name'  :  ['sunita' ] ,  'age' :  23 ,  'adress' :  'pune'}

In [3]:
len(d)

3

In [4]:
import pandas as pd

In [20]:
df  =  pd.DataFrame(d)

In [21]:
df

     name  age adress
0  sunita   23   pune

In [22]:
len(df)

1

In [5]:
s1  =  pd.Series(d)

In [6]:
s1

name      [sunita]
age             23
adress        pune
dtype: object

In [7]:
len(s1)

3

###### CREATE  CLASS COUNTRY AND METHODS  LANGUAGE  ,  CAPITAL

In [31]:
class  India :
    def Capital(self):
        print('Capital  of  India  is New Delhi')
    
    # create  method  for  language
    def  Language(self):
        print('Hindi  is  widely spoken  language  of india')


# create  class  USA

class  USA :
    def  Capital(self):
        print('Capital  of  USA  is Washington  D.C')

    def  Language(self):
        print('English is  widely  spoken language  in  USA')


## class  France
class France:
    def Capital(self):
        print('capital  of france  is  Paris')

    def  Language(self):
        print('French  is  widely  spoken  language  in france')

In [32]:
I1  =  India()

In [33]:
I1.Capital()

Capital  of  India  is New Delhi

In [34]:
I1.Language()

Hindi  is  widely spoken  language  of india

In [35]:
U1  =  USA()

In [36]:
U1.Capital()

Capital  of  USA  is Washington  D.C

In [37]:
U1.Language()

English is  widely  spoken language  in  USA

In [38]:
F1  =  France()

In [40]:
F1.Capital()

capital  of france  is  Paris

In [41]:
F1.Language()

French  is  widely  spoken  language  in france

In [49]:
#### create class Rectangle  , circle  --> perimeter ,  Area
from dataclasses import dataclass
@dataclass
class  Rectangle:
    s1 : int|float
    s2 :  int|float

    #  Perimeter
    def  Perimeter(self):
        return  2*(self.s1+self.s2)

# area
    def Area(self):
        return  self.s1*self.s2



#  create  class  Circle
@dataclass
class  Circle:
    r  : int|float

    #  perimeter
    def Perimeter(self):
        return  2*3.14*self.r

    # Area
    def Area(self):
        return  3.14*self.r**2

In [50]:
R1 =  Rectangle(12  , 32)

In [51]:
R1.Perimeter()

88

In [52]:
R1.Area()

384

In [53]:
C1  =  Circle(r  =  2)

In [54]:
C1.Area()

12.56

In [55]:
C1.Perimeter()

12.56

In [56]:
C2  =  Circle(3)
C2.Perimeter()

18.84

In [57]:
C2.Area()

28.26

In [58]:
@dataclass
class  Triangle:
    s1 :  int|float
    s2  :  int|float
    s3 :  int|float

#  perimeter
    def  Perimeter(self):
        if  (self.s1 + self.s2 >  self.s3) and \
        (self.s2 + self.s3> self.s1)  and  \
        (self.s1 + self.s3  >  self.s2) : 
            P  =  self.s1+self.s2+self.s3
            return P
    

    # #  find area  of  triangle
    def  Area(self):
        if  self.Perimeter() is  not None:
            s  =  self.Perimeter()/2
            return  (s*((s-self.s1)*(s-self.s2)*(s-self.s3)))**(1/2)
        else:
            print('Sides  do  not  form  Triangle')

In [59]:
t1  =  Triangle(s1  =  12 , s2  =  13 , s3  =  23)

In [60]:
t1.Perimeter()

48

In [61]:
t1.Area()

56.28498911788115

In [62]:
for  i  in  [C1  ,  t1 ,R1 ]:
    print(i)
    print(f'Perimeter -->  {i.Perimeter()}')
    print(f'Area -->  {i.Area()}')
    print()
    print('-----------------')

Circle(r=2)
Perimeter -->  12.56
Area -->  12.56

-----------------
Triangle(s1=12, s2=13, s3=23)
Perimeter -->  48
Area -->  56.28498911788115

-----------------
Rectangle(s1=12, s2=32)
Perimeter -->  88
Area -->  384

-----------------

In [63]:
C1.r

2

In [ ]:
## Encapsulation 
-  public  variables -  access  publically 
-  protected  variables -  _
-  private variables -__

In [ ]:
class  Acount:
    def  __init__(self ,  bal):
        self.bal  =  bal

        #  protected  variable

In [65]:
a =  Acount(20000)
a.bal

20000

In [97]:

class  Acount1:
    def  __init__(self ,  bal):
        self._bal  =  bal


    #  check balance
    def check_balance(self):
        print(self._bal)

In [98]:
a1  =  Acount1(20000)

In [99]:
a1.bal

AttributeError: 'Acount1' object has no attribute 'bal'

In [ ]:
a1._bal

20000

In [100]:
a1.check_balance()

20000

In [101]:
##  private  variables
class  Acount2:
    def __init__(self,  bal):
        self.__bal  =  bal

In [104]:
a2  =  Acount2(20000)

In [105]:
a2.bal

AttributeError: 'Acount2' object has no attribute 'bal'

In [106]:
a2.__bal

AttributeError: 'Acount2' object has no attribute '__bal'

In [109]:
a2._Acount2__bal

20000

#### class method
- used to  change value  of class  attribute

In [155]:
class Student:
    school_name  =  'abc'
    def  __init__(self  , name  , age):
        self.name  =  name
        self.age  = age 

    @classmethod
    def  change_school(cls ,  new_name) :
        cls.school_name  =  new_name 

    # 
    @classmethod
    def school(cls):
        print(f'name  of school is  {cls.school_name}')

In [156]:
a  =  Student(name= 'xyz' , age  =12)

In [157]:
a.name
a.age
a.school_name

'abc'

In [159]:
a.school()

name  of school is  abc

In [150]:
b  =  Student(name  = 'pqr' , age  = 21)

In [144]:
a.school_name =  'a1b1c1'

In [145]:
a.school_name

'a1b1c1'

In [151]:
a.change_school('x1y1z1')

In [152]:
a.school_name

'x1y1z1'

In [153]:
b  =  Student(name  = 'pqr' , age  = 21)
b.school_name

'x1y1z1'

In [154]:
a.school()

name  of school is  x1y1z1