### single  Inheritance

- create  class  person and employee

In [4]:
class Person:
    def __init__(self , name  , age):
        self.name  = name
        self.age  =  age
    def introduce(self):
        return f"My name  is  {self.name} and i am {self.age} years  old"

In [5]:
p1  =  Person(name = 'seeta' ,  age  =  23)

In [ ]:
p1.introduce()

'My name  is  seeta and i am 23 years  old'

In [ ]:
class Person:
    def __init__(self , name  , age):
        self.name  = name
        self.age  =  age
    def introduce(self):
        return f"My name  is  {self.name} and i am {self.age} years  old"

#  employee

class Employee(Person):
    def __init__(self,  name  , age  ,  company):
        super().__init__(name  , age)
        self.company  =  company

    #  method
    def info(self):
        print(super().introduce())
        return  f'I work for {self.company } '

In [27]:
E1  =  Employee(name  = 'sarthak' , age =  34  ,  company  =  'Infosys')

In [28]:
E1.introduce()

'My name  is  sarthak and i am 34 years  old'

In [29]:
E1.info()

'My name  is  sarthak and i am 34 years  old . I work for Infosys '

In [30]:
class Person:
    def __init__(self , name  , age):
        self.name  = name
        self.age  =  age
    def introduce(self):
        return f"My name  is  {self.name} and i am {self.age} years  old"

#  employee

class Employee(Person):
    def __init__(self,  name  , age  ,  company):
        super().__init__(name  , age)
        self.company  =  company

    #  method
    def info(self):
        return  f' {super().introduce()} I work for {self.company } '

In [31]:
E2  =  Employee(name  = 'sarthak' , age =  34  ,  company  =  'Infosys')

In [32]:
E2.info()

' My name  is  sarthak and i am 34 years  old I work for Infosys '

In [33]:
class Person:
    def __init__(self , name  , age):
        self.name  = name
        self.age  =  age
    def introduce(self):
        return f"My name  is  {self.name} and i am {self.age} years  old"

#  employee

class Employee(Person):
    def __init__(self,  name  , age  ,  company):
        super().__init__(name  , age)
        self.company  =  company

    #  method
    def info(self):
        return  f' {self.introduce()} I work for {self.company } '

In [34]:
E3  = E2  =  Employee(name  = 'sarthak' , age =  34  ,  company  =  'Infosys')

In [35]:
E3.info()

' My name  is  sarthak and i am 34 years  old I work for Infosys '

In [40]:
class Person:
    def __init__(self , name  , age):
        self.name  = name
        self.age  =  age
    def introduce(self):
        return f"My name  is  {self.name} and i am {self.age} years  old"

#  employee

class Employee(Person):
    def __init__(self,  name  , age  ,  company):
        super().__init__(name  , age)
        self.company  =  company

    #  method
    def info(self):
        super().introduce()
        return  f'  I work for {self.company } '

In [41]:
E4  =  Employee(name  = 'sarthak' , age =  34  ,  company  =  'Infosys')

In [42]:
E4.info()

'  I work for Infosys '

In [43]:
class Person:
    def __init__(self , name  , age):
        self.name  = name
        self.age  =  age
    def introduce(self):
        print(f"My name  is  {self.name} and i am {self.age} years  old")

#  employee

class Employee(Person):
    def __init__(self,  name  , age  ,  company):
        super().__init__(name  , age)
        self.company  =  company

    #  method
    def info(self):
        super().introduce()
        return  f'  I work for {self.company } '

In [44]:
E4  =  Employee(name  = 'sarthak' , age =  34  ,  company  =  'Infosys')

In [45]:
E4.info()

My name  is  sarthak and i am 34 years  old

'  I work for Infosys '